<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
	<title>hello</title>
	<style type="text/css">
		#background
		{
			position: fixed;
			top: 0;
			left: 0;
			overflow:hidden;
			display: none;
		}
		.poswrapper
		{
			width: 0px;
			margin-left: auto;
			margin-right: auto;
			height: 100%;
			overflow: visible;
			padding: 0;
			border: 0;
			font: inherit;
			vertical-align: baseline;
		}
		.graybackground
		{
			position: fixed;
			z-index: 0;
			width: 1080px;
			margin-top: -8px;
			margin-bottom: 0px;
			margin-left: -540px;
			background: #666666;
			height: 1803px;
		}
		.containerone
		{
			border: 0px;
			vertical-align: baseline;
			position: relative;
			width: 1000px;
			margin: auto;
			padding: 0px;
		}
		.tempone
		{
			width:330px;
			background: #444444;
			height: 220px;
			float: left;
			display: inline;
		}
		.temptwo
		{
			width: 480px;
			height: 340px;
			background: #444444;
			float: left;
			display: inline;
			margin-top: 20px;
		}
		.fontone
		{
			font-weight: bold;
			font-style: 55px;
			color: white;
			text-align: center;
		}
	</style>
</head>
<body>
    <img id="background" src="{{url_for('static',filename='bg2.jpg')}}" style="width: 1519px;height: 1012.67px;display: inline;">




<div class="poswrapper">
	<div class="graybackground">
	</div>
</div>


<div class="containerone">
	<p style="font-size: 45px;font-weight: bolder;color: white;">
		数据可视化
	</p>
	<div class="tempone" style="margin-left: 0;margin-right: 5px">
	<p style="font-size: 15px;font-weight: bold;color: white;padding-left: 15px">
		温度（来自BMP180）
	</p>
	<script>
		setInterval(function(){
			$.getJSON('/data3',function(data){
				document.getElementById("test1").innerHTML=data+'&#176;'+"mean"
			})}
			,2000)
	</script>
	<p id="test1" style="font-weight: bold;font-size: 55px;color: white;text-align: center;">
		30&#176;(mean)
	</p>	
	</div>
	

	<div class="tempone" style="margin-right:5px;">
	<p style="font-weight: bold;font-size: 15px;color: white;padding-left: 15px">
		湿度（来自DTH11）
	</p>
	<p style="font-weight: bold;font-size: 55px;color: white;text-align: center;">
		48％
	</p>

	</div>
	

	<div class="tempone">
	<p style="font-weight: bold;font-size:15px;color: white;padding-left: 15px ">
		气压（来自BMP180）
	</p>
	<script>
		setInterval(function(){
			$.getJSON('/data4',function(data){
				document.getElementById("test2").innerHTML=data+"hPa"
			})}
			,2000)
	</script>
	<p id=test2 style="font-weight: bold;font-size: 55px;color: white;text-align: center;">
		1005.8hPa
	</p>
	</div>
	<div class="temptwo" style="margin-right: 40px;">
		<p style="font-weight: bold;font-size: 15px;color: white;padding-left: 15px;margin-bottom: 0px;margin-bottom: 5px">树莓派</p>
		<div style="height: 100px;width: 480px;">
			<div style="height: 100px;width: 150px;padding-left: 15px;float: left;">
				<p style="font-size: 25px;font-weight: bold;text-align: center;margin: 0px;padding-top: 26.1px;color: white;">CPU使用率:</p>
			</div>
			<script>
				setInterval(function(){
					$.getJSON('/data6',function(data){
						document.getElementById("raspberry1").innerHTML=data+"%"
				})}
			,1000)
			</script>
			<div style="height: 100px;width: 315px; float: left;">
				<p id="raspberry1" style="color: white;font-size: 40px;padding-left: 120px;font-weight: bold;margin:0px;padding-top: 25px">
					55%
				</p>
			</div>
		</div>
		<div style="height: 100px;width: 480px;">
			<div style="height: 100px;width: 150px;padding-left: 15px;float: left;">
				<p style="font-size: 25px;font-weight: bold;text-align: center;margin: 0px;padding-top: 26.1px;color: white;">内存占用率:</p>
			</div>
			<script>
				setInterval(function(){
					$.getJSON('/data7',function(data){
						document.getElementById("raspberry2").innerHTML=data+"%"
				})}
			,1000)
			</script>
			<div style="height: 100px;width: 315px; float: left;">
				<p id="raspberry2" style="color: white;font-size: 40px;padding-left: 120px;font-weight: bold;margin:0px;padding-top: 25px">
					55%
				</p>
			</div>
		</div>
		<div style="height: 100px;width: 480px;">
			<div style="height: 100px;width: 150px;padding-left: 15px;float: left;">
				<p style="font-size: 25px;font-weight: bold;text-align: center;margin: 0px;padding-top: 26.1px;color: white;">CPU温度:</p>
			</div>
			<script>
				setInterval(function(){
					$.getJSON('/data5',function(data){
						document.getElementById("raspberry3").innerHTML=data+'&#176;'
				})}
			,1000)
			</script>
			<div style="height: 100px;width: 315px; float: left;">
				<p id="raspberry3" style="color: white;font-size: 40px;padding-left: 120px;font-weight: bold;margin:0px;padding-top: 25px">
					55&#176;
				</p>
			</div>	
		</div>
		
	</div>

	<div class="temptwo">
		<p style="font-weight: bold;font-size: 15px;color: white;padding-left: 15px;margin-bottom: 0px;">实时环境监控</p>
		<img src="http://192.168.1.219:8080/?action=stream" width="400" height="300" style="margin-left: 40px;">
	</div>


	<div style="height: 30px;float: left;display: inline;background:#444444;margin-top: 20px;width: 1000px;">
		<p style="font-size: 15px;color: white;padding-left: 15px;margin-top: 5px;">
			温度趋势
		</p>
	</div>


	<div id="container" style="height: 400px;width: 1000px;float: left;display: inline;">
	</div>

 

		<script src='/static/jquery.js'></script>

		<script src='/static/highstock.js'></script>

		<script src='/static/exporting.js'></script>

		<script>

		$(function () {

    // 使用当前时区，否则东八区会差八个小时

    		Highcharts.setOptions({

        		global: {

            		useUTC: false

        		}

    		});

    	$.getJSON('/data', function (data) {

 

        // Create the chart

        $('#container').highcharts('StockChart', {

        chart:{


        	events:{

 

            	load:function(){

 

                	var series = this.series[0]

                	setInterval(function(){

                	$.getJSON('/data',function(res){

                    	$.each(res,function(i,v){

                        	series.addPoint(v)

                    	})

                	})

                	},3000)

            	}

        	}

        },

 

            rangeSelector : {

                selected : 1

            },

 

            title : {

                text : '温度数据'

            },

 

            series : [{

                name : '环境温度',

                data : data,

                tooltip: {

                    valueDecimals: 2

                }

            }]

        });

    });

 

});

		</script>
	<hr>
	<div style="height: 30px;float: left;display: inline;background:#444444;margin-top: 20px;width: 1000px;">
		<p style="font-size: 15px;color: white;padding-left: 15px;margin-top: 5px;">
			气压趋势
		</p>
	</div>

		<div id="container1" style="height: 400px; width: 1000px;float: left;display: inline;"></div>


		<script>

		$(function () {

    // 使用当前时区，否则东八区会差八个小时

    		Highcharts.setOptions({

       		global: {

            useUTC: false

        	}

    	});

    	$.getJSON('/data1', function (data) {

 

        // Create the chart

        $('#container1').highcharts('StockChart', {
        chart:{	
            
        	events:{

            	load:function(){

 

                	var series = this.series[0]

                	setInterval(function(){

                	$.getJSON('/data1',function(res){

                    	$.each(res,function(i,v){

                        	series.addPoint(v)

                    	})

                	})

                	},3000)

            	}

        	}

        },

 

            rangeSelector : {

                selected : 1

            },

 

            title : {

                text : '气压数据'

            },

 

            series : [{

                name : '环境气压',

                data : data,

                tooltip: {

                    valueDecimals: 2

                }

            }]

        });

    });

 

});

</script>


</div>




</body>
</html>
